{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% if page_obj is None %}
<div class="card" id="no-follow">
    <h1>Nothing to see here!</h1>
    <p class="text-muted">Follow some users to see their posts here.</p>
</div>
{% else %}
<div id="feed">
    {% for post in page_obj %}
    <div class="col">
      <div class="card" id="card-posts">
        <div class="card-body">
        <h5 class="card-title">
            <a style="color: black;" href="{% url 'profile' post.user %}">
                <strong>{{ post.user }}</strong>
            </a>  
            </h5>
          <p class="card-text" id="content{{ post.id }}">{{ post.content }}</p>
          <p class="card-text text-muted">{{ post.timestamp }}</p>
          {% if post.user == user %}
            <input id="edit-button" type="image" src="{% static 'network/index.png' %}" alt="..." onclick="edit('{{ post.id }}')">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
 </div>
 {% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'network/follow.js' %}"></script>
{% endblock %}