a:hover {
    text-decoration: none;
}
.dark-mode {
    background-color: rgb(43, 42, 51);
    color: #fff;
}
button.link { 
    background:none; 
    border:none; 
    outline: none;
}
.card-footer {
    background-color: inherit;
    text-align: center;
} 
.content {
    overflow:hidden;
    margin-bottom: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    Font-size: 18px;
}
.fodder-content {
    display: none;
}
.card-header {
    height: 125px;
}
#comments {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    Font-size: 18px;
}
#button-comment {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}
#no-follow {
    margin: 0 auto; 
    float: none; 
    width: 30%;
    text-align: center;

}
#button-post {
    margin-top: 15px;
}
#profile {
    text-align: center; 
}
#profile-pic img {
    border-radius: 50%;

}
#button-follow {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
#button-unfollow {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
#profile-pic {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(157, 52, 157) , rgb(128, 128, 240));
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    float: none;
    margin: 0 auto;
}
#follow-card {
    padding: 30px;
}
body {
}
#edit-button {
    width: 45px;
    height: 45px;
    float: right;
}
.card {
    /* adding features to bootstrap card */
    width: 50%;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 25px; 
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-tox-shadow: 0 6px 12px rgba(0,0,0,.175);
}